<div class="container">
  <h3>Create a New Cocktail</h3>
</div>
<div class="container my-3">
  <%= simple_form_for (@cocktail) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
