// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
// @import "font-awesome-sprockets";
// @import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.offwhite-background {
  background-color: 	rgb(242, 242, 242);
}

.my-form-card-container {
	border: 5px solid red;
	width: 320px;
	padding: 8px;
}



.new-cocktail-form {
    width: 30%;
    margin: 16px auto;
}
